$color-dark1: #111111;
$color-dark2: #555555;
$color-dark3: #777777;
$color-dark4: #999999;
$color-light1: #FFFFFF;
$color-light2: #EEEEEE;
$color-light3: #CCCCCC;
$color-orange: #FF8139;
$color-pink: #FF3998;
$color-green: #39FFA0;
$color-red: #FF3939;
$color-light-green: #EDFFF6;
$color-light-orange: #FFF0E8;
@mixin padding {
    padding: 40px 100px;
}
@mixin media-padding {
    padding: 40px 10px;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    @include padding;
    img {
        width: 15%;
    }
    ul {
        display: flex;
        list-style: none;
    }
    a {
        padding-left: 20px;
        text-decoration: none;
        color: $color-dark2;
        font-size: 25px;
    }
    a:last-of-type {
        color: $color-pink;
    }
    .burger {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
    }
    .burger-item {
        width: 30px;
        height: 4px;
        background: $color-dark3;
        border-radius: 15px;
    }
}
@media screen and (min-width: 360px) and (max-width: 450px) {
    header {
        width: 100%;
        @include media-padding;
        img {
            width: 150px;
    }
        nav {
            display: none;
        }
        .burger {
            display: flex;
            padding-right: 20px;
        }
    }
}
.first-container {
    @include padding;
    display: flex;
    justify-content: space-between;
    .first-container-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35%;
        height: 600px;
}
    p:first-of-type {
        margin-top: 80px;
        color: $color-pink;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1.5px;
    }
    p {
        font-size: 20px;
        color: $color-dark2;
    }
    h1 {
        font-size: 100px;
        font-weight: 900;
    }
    }
button {
    width: 170px;
    height: 70px;
    background: none;
    border-radius: 35px;
    border: double 4px transparent;
    background-image: linear-gradient(white,white),
    linear-gradient(90deg, $color-pink, $color-orange);
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-size: 18px;
    font-weight: bold;
}
@media screen and (min-width: 360px) and (max-width: 450px){
    .first-container {
        @include media-padding;
        width: 100%;
        .first-container-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 70%;
            height: 500px;
    }
    h1 {
        font-size: 45px;
        font-weight: 900;
    }
    .first-container-img {
        width: 30%;
    }
    img {
        width: 400px;
        position: relative;
        right: 100px
    }
}
}
.second-container {
    @include padding;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    .gradient-container {
        background-image: url(assets/background.svg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 150px 0 80px 50px;
        border-radius: 30px;
    }
    p:first-of-type {
        font-size: 40px;
        padding-bottom: 15px;
        font-weight: 500;
    }
    p {
        font-size: 22px;
        font-weight: 500;
    }
    ul {
        display: flex;
        justify-content: space-between;
        padding-top: 150px;
        list-style: none;
    }
}
@media screen and (min-width: 360px) and (max-width: 450px){
    .second-container {
        @include media-padding;
        margin-top: 100px;
    }
    .second-container .gradient-container {
        border-radius: 0;
        background-image: linear-gradient(60deg, $color-pink, $color-orange, $color-light-green);
        width: 80%;
        position: relative;
        right: 10px;
        padding: 150px 70px 80px 20px;
    }
    .second-container li:nth-of-type(4) {
        display: none;
    }
    li:nth-of-type(1) {
        max-width: 139px; overflow: hidden;
    }
    .second-container ul {
        padding-top: 50px;
        flex-wrap: wrap;
    }
    .gradient-container {
        p:first-of-type {
            font-size: 25px;
            padding-bottom: 15px;
            font-weight: 500;
    }
        p {
            font-size: 16px;
            font-weight: 500;
    }
    }
}
.third-conteiner{
    @include padding;
    margin-top: 150px;
    .nft-flex {
        display: flex;
        justify-content: space-between;
    }
    h5 {
        font-size: 40px;
        font-weight: 500;
        padding-bottom: 20px;
    }
    p {
        font-size: 22px;
        color: $color-dark2;
    }
    a {
        color: $color-dark2;
        font-weight: 500;
    }
}
.nft-container {
    margin-top: 50px;
    width: 290px;
    height: 400px;
    border-radius: 15px;
    background: $color-light2;
    .nft-text-container {
        display: flex;
        justify-content: space-between;
    }
    ul {
        list-style: none;
        padding: 10px 20px;
    }
    .nft-left-text li {
        padding-top: 12px;
    }
    .nft-right-text li {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 10px;
    }
    .nft-left-text li:first-of-type {
        color: $color-orange;
        font-size: 13px;
        font-weight: 500;
    }
    .nft-right-text li:first-of-type {
        color: $color-dark3;
    }
    li:last-of-type {
        color: $color-dark3;
    }
    li:nth-of-type(2) {
        font-size: 20px;
        font-weight: 500;
    }
}
@media screen and (min-width: 360px) and (max-width: 450px){
    .third-conteiner {
        margin-top: 50px;
        @include media-padding;
        .nft-flex {
            gap: 15px
        }
    }
}
.forth-container {
    @include padding;
    margin-top: 100px;
    height: 480px;
        p:first-of-type {
            margin-top: 80px;
            color: $color-pink;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 1.5px;
        }
        p {
            padding-bottom: 10px;
            font-size: 20px;
            color: $color-dark2;
        }
        h1 {
            padding-bottom: 10px;
            font-size: 60px;
            font-weight: 900;
        }
        button {
            position: relative;
            top: 20px;
            
        }
        img {
            position: relative;
            left: 1100px;
            bottom: 270px;
        }
}
.divider-bottom {
    margin: 0px auto;
    width: 90%;
    height: 1px;
    background: $color-dark2;
}
.divider-top {
    margin: 100px auto;
    width: 90%;
    height: 1px;
    background: $color-dark2;
}
@media screen and (min-width: 360px) and (max-width: 450px){
    .divider-bottom, .divider-top {
        width: 100%;
    }
}
@media screen and (min-width: 360px) and (max-width: 450px){
    .forth-container {
        display: flex;
        @include media-padding;
        width: 100%;
        height: 400px;
        .forth-container-text{
            width: 50%;
            p:first-of-type {
                margin-top: 10px;
                color: $color-pink;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 1.5px;
            }
            p {
                padding-bottom: 30px;
                font-size: 20px;
                color: $color-dark2;
            }
            h1 {
                padding-bottom: 50px;
                font-size: 32px;
                font-weight: 900;
            }
            button {
                position: relative;
                top: -10px;              
            }
        }
        img {
            position: relative;
            left: 10px;
            top: 40px;
        }
}
}
footer {
    @include padding;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: $color-dark2;
        font-size: 20px;
    }
    li {
        padding-bottom: 8px;
        
        
    }
    .footer-text {
        display: flex;
        justify-content: space-between;
    }
    .footer-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            font-size: 20px;
        }
        ul {
            display: flex;
            a {
                padding-right: 15px;
                color: $color-dark2;
            }
        }
    }
    .footer-right {
        display: flex;
        ul {
            padding-left: 100px;
        }
        li:first-of-type {
            font-size: 16px;
            color: $color-dark2;
            padding-bottom: 15px;
            font-weight: 700;
            letter-spacing: 0.1em;
        }
    }
    .copyright {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        color: $color-dark4;
    }
}
@media screen and (min-width: 360px) and (max-width: 450px) {
    footer{
        @include media-padding;
        flex-direction: column;
        .footer-left {
            width: 100%;
            height: 200px;
            padding-left: 20px;
            justify-content: space-around;
            img {
                width: 250px;
            }
        }
        
        .footer-text {
            flex-direction: column;
        }
        .footer-right {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-row-gap: 20px;
            ul {
                padding: 20px;
            }
          }
          .copyright {
            padding-left: 20px;
            letter-spacing: 1px;
          p:last-of-type {
            display: none;
        }
        }  
    }
}