* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

@media screen and (min-width: 360px) and (max-width: 450px) {
  body {
    overflow-x: hidden;
  }
}
header {
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
}
header img {
  width: 15%;
}
header ul {
  display: flex;
  list-style: none;
}
header a {
  padding-left: 20px;
  text-decoration: none;
  color: #555555;
  font-size: 25px;
}
header a:last-of-type {
  color: #FF3998;
}
header .burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
}
header .burger-item {
  width: 30px;
  height: 4px;
  background: #777777;
  border-radius: 15px;
}

@media screen and (min-width: 360px) and (max-width: 450px) {
  header {
    width: 100%;
    padding: 40px 10px;
  }
  header img {
    width: 150px;
  }
  header nav {
    display: none;
  }
  header .burger {
    display: flex;
    padding-right: 20px;
  }
}
.first-container {
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
}
.first-container .first-container-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  height: 600px;
}
.first-container p:first-of-type {
  margin-top: 80px;
  color: #FF3998;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.first-container p {
  font-size: 20px;
  color: #555555;
}
.first-container h1 {
  font-size: 100px;
  font-weight: 900;
}

button {
  width: 170px;
  height: 70px;
  background: none;
  border-radius: 35px;
  border: double 4px transparent;
  background-image: linear-gradient(white, white), linear-gradient(90deg, #FF3998, #FF8139);
  background-origin: border-box;
  background-clip: content-box, border-box;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (min-width: 360px) and (max-width: 450px) {
  .first-container {
    padding: 40px 10px;
    width: 100%;
  }
  .first-container .first-container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 500px;
  }
  .first-container h1 {
    font-size: 45px;
    font-weight: 900;
  }
  .first-container .first-container-img {
    width: 30%;
  }
  .first-container img {
    width: 400px;
    position: relative;
    right: 100px;
  }
}
.second-container {
  padding: 40px 100px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.second-container .gradient-container {
  background-image: url(assets/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0 80px 50px;
  border-radius: 30px;
}
.second-container p:first-of-type {
  font-size: 40px;
  padding-bottom: 15px;
  font-weight: 500;
}
.second-container p {
  font-size: 22px;
  font-weight: 500;
}
.second-container ul {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  list-style: none;
}

@media screen and (min-width: 360px) and (max-width: 450px) {
  .second-container {
    padding: 40px 10px;
    margin-top: 100px;
  }
  .second-container .gradient-container {
    border-radius: 0;
    background-image: linear-gradient(60deg, #FF3998, #FF8139, #EDFFF6);
    width: 83%;
    position: relative;
    right: 10px;
    padding: 150px 70px 80px 20px;
  }
  .second-container li:nth-of-type(4) {
    display: none;
  }
  li:nth-of-type(1) {
    max-width: 139px;
    overflow: hidden;
  }
  .second-container ul {
    padding-top: 50px;
    flex-wrap: wrap;
  }
  .gradient-container p:first-of-type {
    font-size: 25px;
    padding-bottom: 15px;
    font-weight: 500;
  }
  .gradient-container p {
    font-size: 16px;
    font-weight: 500;
  }
}
.third-conteiner {
  padding: 40px 100px;
  margin-top: 150px;
}
.third-conteiner .nft-flex {
  display: flex;
  justify-content: space-between;
}
.third-conteiner h5 {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 20px;
}
.third-conteiner p {
  font-size: 22px;
  color: #555555;
}
.third-conteiner a {
  color: #555555;
  font-weight: 500;
}

.nft-container {
  margin-top: 50px;
  width: 290px;
  height: 400px;
  border-radius: 15px;
  background: #EEEEEE;
}
.nft-container .nft-text-container {
  display: flex;
  justify-content: space-between;
}
.nft-container ul {
  list-style: none;
  padding: 10px 20px;
}
.nft-container .nft-left-text li {
  padding-top: 12px;
}
.nft-container .nft-right-text li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
}
.nft-container .nft-left-text li:first-of-type {
  color: #FF8139;
  font-size: 13px;
  font-weight: 500;
}
.nft-container .nft-right-text li:first-of-type {
  color: #777777;
}
.nft-container li:last-of-type {
  color: #777777;
}
.nft-container li:nth-of-type(2) {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 360px) and (max-width: 450px) {
  .third-conteiner {
    margin-top: 50px;
    padding: 40px 10px;
  }
  .third-conteiner .nft-flex {
    gap: 15px;
  }
}
.forth-container {
  padding: 40px 100px;
  margin-top: 100px;
  height: 480px;
}
.forth-container p:first-of-type {
  margin-top: 80px;
  color: #FF3998;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.forth-container p {
  padding-bottom: 10px;
  font-size: 20px;
  color: #555555;
}
.forth-container h1 {
  padding-bottom: 10px;
  font-size: 60px;
  font-weight: 900;
}
.forth-container button {
  position: relative;
  top: 20px;
}
.forth-container img {
  position: relative;
  left: 1100px;
  bottom: 270px;
}

.divider-bottom {
  margin: 0px auto;
  width: 90%;
  height: 1px;
  background: #555555;
}

.divider-top {
  margin: 100px auto;
  width: 90%;
  height: 1px;
  background: #555555;
}

@media screen and (min-width: 360px) and (max-width: 450px) {
  .divider-bottom, .divider-top {
    width: 100%;
  }
}
@media screen and (min-width: 360px) and (max-width: 450px) {
  .forth-container {
    display: flex;
    padding: 40px 10px;
    width: 100%;
    height: 400px;
  }
  .forth-container .forth-container-text {
    width: 50%;
  }
  .forth-container .forth-container-text p:first-of-type {
    margin-top: 10px;
    color: #FF3998;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
  .forth-container .forth-container-text p {
    padding-bottom: 30px;
    font-size: 20px;
    color: #555555;
  }
  .forth-container .forth-container-text h1 {
    padding-bottom: 50px;
    font-size: 32px;
    font-weight: 900;
  }
  .forth-container .forth-container-text button {
    position: relative;
    top: -10px;
  }
  .forth-container img {
    position: relative;
    left: 10px;
    top: 40px;
  }
}
footer {
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
footer ul {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: #555555;
  font-size: 20px;
}
footer li {
  padding-bottom: 8px;
}
footer .footer-text {
  display: flex;
  justify-content: space-between;
}
footer .footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-left p {
  font-size: 20px;
}
footer .footer-left ul {
  display: flex;
}
footer .footer-left ul a {
  padding-right: 15px;
  color: #555555;
}
footer .footer-right {
  display: flex;
}
footer .footer-right ul {
  padding-left: 100px;
}
footer .footer-right li:first-of-type {
  font-size: 16px;
  color: #555555;
  padding-bottom: 15px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
footer .copyright {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #999999;
}

@media screen and (min-width: 360px) and (max-width: 450px) {
  footer {
    padding: 40px 10px;
    flex-direction: column;
  }
  footer .footer-left {
    width: 100%;
    height: 200px;
    padding-left: 20px;
    justify-content: space-around;
  }
  footer .footer-left img {
    width: 250px;
  }
  footer .footer-text {
    flex-direction: column;
  }
  footer .footer-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
  }
  footer .footer-right ul {
    padding: 20px;
  }
  footer .copyright {
    padding-left: 20px;
    letter-spacing: 1px;
  }
  footer .copyright p:last-of-type {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */