* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
}
header img {
  width: 15%;
}
header ul {
  display: flex;
  list-style: none;
}
header a {
  padding-left: 20px;
  text-decoration: none;
  color: #555555;
  font-size: 25px;
}
header a:last-of-type {
  color: #FF3998;
}
header .burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
}
header .burger-item {
  width: 30px;
  height: 4px;
  background: #777777;
}

main {
  padding: 40px 100px;
}

.first-container {
  display: flex;
  justify-content: space-between;
}
.first-container .first-container-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  height: 600px;
}
.first-container p:first-of-type {
  margin-top: 80px;
  color: #FF3998;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.first-container p {
  font-size: 20px;
  color: #555555;
}
.first-container h1 {
  font-size: 100px;
  font-weight: 900;
}
.first-container button {
  width: 170px;
  height: 70px;
  background: none;
  border-radius: 35px;
  border: double 4px transparent;
  background-image: linear-gradient(white, white), linear-gradient(90deg, #FF3998, #FF8139);
  background-origin: border-box;
  background-clip: content-box, border-box;
  font-size: 18px;
  font-weight: bold;
}

.second-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.second-container .gradient-container {
  background-image: url(assets/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0 80px 50px;
  border-radius: 30px;
}
.second-container p:first-of-type {
  font-size: 40px;
  padding-bottom: 15px;
  font-weight: 500;
}
.second-container p {
  font-size: 22px;
  font-weight: 500;
}
.second-container ul {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  list-style: none;
}

.third-conteiner {
  margin-top: 150px;
}
.third-conteiner .nft-flex {
  display: flex;
  justify-content: space-between;
}
.third-conteiner h5 {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 25px;
}
.third-conteiner p {
  font-size: 22px;
  color: #555555;
}
.third-conteiner a {
  color: #555555;
  font-weight: 500;
}

.nft-container {
  margin-top: 50px;
  width: 290px;
  height: 400px;
  border-radius: 15px;
  background: #EEEEEE;
}
.nft-container .nft-text-container {
  display: flex;
  justify-content: space-between;
}
.nft-container ul {
  list-style: none;
  padding: 10px 20px;
}
.nft-container .nft-left-text li {
  padding-top: 12px;
}
.nft-container .nft-right-text li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
}
.nft-container .nft-left-text li:first-of-type {
  color: #FF8139;
  font-size: 13px;
  font-weight: 500;
}
.nft-container .nft-right-text li:first-of-type {
  color: #777777;
}
.nft-container li:last-of-type {
  color: #777777;
}
.nft-container li:nth-of-type(2) {
  font-size: 20px;
  font-weight: 500;
}/*# sourceMappingURL=styles.css.map */