$color-dark1: #111111;
$color-dark2: #555555;
$color-dark3: #777777;
$color-dark4: #999999;
$color-light1: #FFFFFF;
$color-light2: #EEEEEE;
$color-light3: #CCCCCC;
$color-orange: #FF8139;
$color-pink: #FF3998;
$color-green: #39FFA0;
$color-red: #FF3939;
$color-light-green: #EDFFF6;
$color-light-orange: #FFF0E8;
@mixin padding {
    padding: 40px 100px;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    @include padding;
    img {
        width: 15%;
    }
    ul {
        display: flex;
        list-style: none;
    }
    a {
        padding-left: 20px;
        text-decoration: none;
        color: $color-dark2;
        font-size: 25px;
    }
    a:last-of-type {
        color: $color-pink;
    }
    .burger {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
    }
    .burger-item {
        width: 30px;
        height: 4px;
        background: $color-dark3;
    }
}
main {
    @include padding;
}

.first-container {
    display: flex;
    justify-content: space-between;
    .first-container-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35%;
        height: 600px;
}
    p:first-of-type {
        margin-top: 80px;
        color: $color-pink;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1.5px;
    }
    p {
        font-size: 20px;
        color: $color-dark2;
    }
    h1 {
        font-size: 100px;
        font-weight: 900;
    }
    button {
        width: 170px;
        height: 70px;
        background: none;
        border-radius: 35px;
        border: double 4px transparent;
        background-image: linear-gradient(white,white),
        linear-gradient(90deg, $color-pink, $color-orange);
        background-origin: border-box;
        background-clip: content-box, border-box;
        font-size: 18px;
        font-weight: bold;
    }
}
.second-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    .gradient-container {
        background-image: url(assets/background.svg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 150px 0 80px 50px;
        border-radius: 30px;
    }
    p:first-of-type {
        font-size: 40px;
        padding-bottom: 15px;
        font-weight: 500;
    }
    p {
        font-size: 22px;
        font-weight: 500;
    }
    ul {
        display: flex;
        justify-content: space-between;
        padding-top: 150px;
        list-style: none;
    }
}
.third-conteiner{
    margin-top: 150px;
    .nft-flex {
        display: flex;
        justify-content: space-between;
    }
    h5 {
        font-size: 40px;
        font-weight: 500;
        padding-bottom: 25px;
    }
    p {
        font-size: 22px;
        color: $color-dark2;
    }
    a {
        color: $color-dark2;
        font-weight: 500;
    }
}
.nft-container {
    margin-top: 50px;
    width: 290px;
    height: 400px;
    border-radius: 15px;
    background: $color-light2;
    .nft-text-container {
        display: flex;
        justify-content: space-between;
    }
    ul {
        list-style: none;
        padding: 10px 20px;
    }
    .nft-left-text li {
        padding-top: 12px;
    }
    .nft-right-text li {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 10px;
    }
    .nft-left-text li:first-of-type {
        color: $color-orange;
        font-size: 13px;
        font-weight: 500;
    }
    .nft-right-text li:first-of-type {
        color: $color-dark3;
    }
    li:last-of-type {
        color: $color-dark3;
    }
    li:nth-of-type(2) {
        font-size: 20px;
        font-weight: 500;
    }
}
